services:
  smartchat:
    build:
      context: .
      args:
        - NEXT_PUBLIC_SUPABASE_URL=${NEXT_PUBLIC_SUPABASE_URL}
        - NEXT_PUBLIC_SUPABASE_ANON_KEY=${NEXT_PUBLIC_SUPABASE_ANON_KEY}
        - NEXT_PUBLIC_APP_URL=${NEXT_PUBLIC_APP_URL}
    container_name: smartchat
    ports:
      - "8889:8889"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=8889
    restart: always
